body {
    background: #23282e;
    color: #f0f2f5;
    overflow-x:hidden;
    margin: 0;
    padding: 0;
}
.discord-title {
    text-align: left;
    height: 32px;
    line-height: 32px!important;
    background-color: #5865f2;
    padding-left: 10px!important;
    font-weight: bold!important;
    font-size: 1.17em!important;
}
.title-text {
    float: left;
    font-weight: 900 !important;
}
.invite-text {
    float: right;
    color: #f0f2f5;
}
.invite-text a {
    height: 32px;
    text-decoration: none;
    color: inherit;
    font-size: 100%!important;
}
.invite-button {
    float: right;
    color: #f0f2f5;
    padding: 3px 5px!important;
    line-height: 1.5 !important;
    height: 26px;
    background: #e02e2e;
    text-decoration: unset;
}
.invite-button:hover {text-decoration: underline;}
.invite-button:active {
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top, #575757, #888);
}
.discord-title div,
.discord-title span,
.discord-title applet,
.discord-title h1,
.discord-title h2,
.discord-title h3,
.discord-title h4,
.discord-title h5,
.discord-title h6,
.discord-title p,
.discord-title blockquote,
.discord-title pre,
.discord-title a,
.discord-title big,
.discord-title del,
.discord-title dfn,
.discord-title em,
.discord-title img,
.discord-title ins,
.discord-title kbd,
.discord-title q,
.discord-title s,
.discord-title samp,
.discord-title small,
.discord-title strike,
.discord-title strong,
.discord-title sub,
.discord-title sup,
.discord-title tt,
.discord-title var,
.discord-title b,
.discord-title u,
.discord-title i,
.discord-title center,
.discord-title dl,
.discord-title dt,
.discord-title dd,
.discord-title ol,
.discord-title ul,
.discord-title li,
.discord-title fieldset,
.discord-title embed,
.discord-title figure,
.discord-title figcaption,
.discord-title footer,
.discord-title header,
.discord-title ruby {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.discord-title body {line-height: 1}
.discord-title ol,
.discord-title ul {list-style: none}
.discord-title q {quotes: none}
.discord-title q:before,
.discord-title q:after {
    content: '';
    content: none
}
.discord-channel {
    font-weight: bold;
    list-style-type: none!important;
    padding: 5px 0 5px 10px;
    margin: 0;
    background: #53565a;
}
.discord-userlist {
    padding-left: 10px!important;
    list-style-type: none!important;
    margin: 5px 0!important;
}
.discord-user {
    display: flex;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
}
.discord-user span {
    font-size: .8em;
    opacity: .5
}
.discord-user-status {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: pink;
    border-radius: 50%;
    border: solid thin #23282e!important;
    top: 14px;
    left: 14px
}
.discord-online {background-color: #43b581}
.discord-idle {background-color: #faa61a}
.discord-avatar {
    border-radius: 100%;
    width: 24px;
    height: 24px;
    border: solid 2px #23282e!important;
    display: inline;
    margin-right: 5px!important;
    vertical-align: middle
}
.discord-allusers-toggle {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.discord-users-online {
    font-size: .75em!important;
    margin: 10px 10px 0 0!important;
    text-align: right
}
.discord-join {
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px!important;
    color: white;
    background-color: #2461b2;
    position: fixed;
    bottom: 0;
}
.discord-join a {
    color: #fff;
    text-decoration: none
}
.discord-join:hover {background-color: #1b4a88}
